[submodule "rpi/lib/WiringPi"]
	path = rpi/lib/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "rpi/lib/rc-switch"]
	path = rpi/lib/rc-switch
	url = https://github.com/sui77/rc-switch.git
