[submodule "rpi/deps/WiringPi"]
	path = rpi/deps/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "deps/rc-switch"]
	path = deps/rc-switch
	url = https://github.com/sui77/rc-switch.git
